* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

.masker {
    position: relative;
}

.masker_num{
    position: absolute;
    bottom:0;
    right:0;
    font-size:16px;
    padding:5px 12px;
    color:#CCC;
    z-index: 999999999;
}

section {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#FFF;
}

.section_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding:1px;
}